#watermark {
  position: fixed;
  right: 18px;
  bottom: 12px;
  color: #fff;
  font-size: 1.1em;
  opacity: 0.7;
  pointer-events: none;
  z-index: 9999;
  font-family: 'Consolas', 'Fira Mono', 'monospace';
  letter-spacing: 1px;
  user-select: none;
}
